/* ==========================================================================
   Large Stylesheet (1024 - 1440)
   ========================================================================== */
body{ background:pink; }






/* ==========================================================================
   Debug Styles
   ========================================================================== */
#debug-message {
    background: lightgreen;
    .small, .medium, .exlarge {
        display: none;
    }
    .large {
        display: block;
    }
}